---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.2
  creationTimestamp: null
  name: customnbimages.meteor.zone
spec:
  group: meteor.zone
  names:
    categories:
    - opendatahub
    kind: CustomNBImage
    listKind: CustomNBImageList
    plural: customnbimages
    shortNames:
    - cnbi
    singular: customnbimage
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Phase
      jsonPath: .status.phase
      name: Phase
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: CustomNBImage is the Schema for the customnbimages API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: CustomNBImageSpec defines the desired state of CustomNBImage
            properties:
              baseImage:
                description: BaseImage is the reference to the base image, used for
                  building
                type: string
              buildType:
                description: BuildType is the strategy
                enum:
                - ImageImport
                - PackageList
                - GitRepository
                type: string
              fromImage:
                description: FromImage is the reference to the source image, used
                  for import strategy
                type: string
              gitRef:
                description: GitRef is the git reference within the Repository to
                  use for building (e.g. "main")
                type: string
              imagePullSecret:
                description: ImagePullSecret is the name of the secret to use for
                  pulling the base image
                properties:
                  name:
                    description: Name of the secret to be used
                    type: string
                required:
                - name
                type: object
              packageVersions:
                description: PackageVersions is a set of Packages including their
                  Version Specifiers
                items:
                  type: string
                type: array
              repository:
                description: Repository is the URL of the git repository, used for
                  building
                type: string
              runtimeEnvironment:
                description: RuntimeEnvironment is the runtime environment to use
                  for the Custom Notebook Image
                properties:
                  osName:
                    description: OSName is the Name of the Operating System to use
                    type: string
                  osVersion:
                    description: OSVersion is the Version of the Operating System
                      to use
                    type: string
                  pythonVersion:
                    description: PythonVersion is the version of Python to use
                    type: string
                type: object
            required:
            - buildType
            type: object
          status:
            description: CustomNotebookImageStatus defines the observed state of CustomNBImage
            properties:
              conditions:
                description: Current service state of Meteor.
                items:
                  description: Condition describes the state of an CNBi at a particular
                    point
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      format: date-time
                      type: string
                    message:
                      description: Human-readable message indicating details about
                        last transition.
                      type: string
                    reason:
                      description: Unique, one-word, CamelCase reason for the condition's
                        last transition.
                      type: string
                    status:
                      description: Status is the status of the condition. Can be True,
                        False, Unknown.
                      type: string
                    type:
                      description: Type is the type of the condition.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              observedGeneration:
                description: ObservedGeneration is the most recent generation observed.
                  It corresponds to the Object's generation, which is updated on mutation
                  by the API Server.
                format: int64
                type: integer
              phase:
                description: Current condition of the Custom Notebook Image
                enum:
                - Pending
                - Failed
                - Running
                - Succeeded
                - Unknown
                type: string
              pipelines:
                description: Stores results from pipelines. Empty if neither pipeline
                  has completed.
                items:
                  properties:
                    name:
                      type: string
                    pipelineRunName:
                      description: Name of the corresponding PipelineRun resource
                      type: string
                    ready:
                      description: True if build completed successfully.
                      type: string
                    url:
                      description: Url to a running deployment. Routable at least
                        within the cluster. Empty if not yet scheduled.
                      type: string
                  required:
                  - name
                  - pipelineRunName
                  type: object
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
